@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



/* Applying Aspekta font globally */
body {
  font-family: 'Aspekta', sans-serif;
  color: white;
  background-color: #000;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body {
  @apply text-white bg-black text-xl; /* Adjusted font size to be bigger but not overly large */
}

body {
  font-family: 'Inter', sans-serif;
}

.customcolor {
  color: #a7ece3;
}

.custom_background_color {
  color: #f6f1eb;
}

.green-glow {
  text-shadow: 0 0 5px #00ff00b1, 0 0 10px #00c300, 0 0 15px #00ff00be, 0 0 20px #00ff00;
  color: #00ff00; /* Ensures the text itself is green */
}

.custom-shadow {
  box-shadow: 0 4px 15px rgba(167, 236, 227, 0.6); /* Shadow with color #a7ece3 */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.circle-gradient-bg {
  background: radial-gradient(circle, rgba(167, 236, 227, 0.2) 0%, rgba(0, 0, 0, 0.9) 70%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Add this to globals.css */
.bg-gradient-preppal {
  background: radial-gradient(circle, #d15eff33 0%, rgb(0, 0, 0) 100%);
}

.text-purple-opacity {
  color: #d15eff33;
}

.hover-color{
  color: rgba(235, 255, 92, 1)
}